<!-- views/detail.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Detail Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Detail Page</h1>
    <!-- Showing details of passed id object -->
    <% if (item) { %>
      <ul class="item-list">
        <li class="item">
          <h2 class="item-title"><%= item.name %></h2>
            <ul class="item-details">
              <li><strong>Make:</strong> <%= item.make %></li>
              <li><strong>Model:</strong> <%= item.model %></li>
              <li><strong>Year:</strong> <%= item.year %></li>
            </ul>
        </li>
      </ul>
    <% } else { %>
      <h2>Item not found.</h2>
    <% } %>
    <a href="/" class="back-link">Go back to Home</a>
  </div>
</body>
</html>