/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #f1f1f1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 10px;
}

h2 {
    font-size: 24px;
    text-align: center;
}

p {
    margin: 10px 0 20px;
    text-align: center;
}

ul.item-list {
    list-style: none;
    margin: 20px 0 30px;
}

ul.item-list ul {
    margin-left: 20px;
}

.item, form {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.item {
    cursor: pointer;
}

.item-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.item-details li, form div {
    margin-bottom: 5px;
}

.item-details li strong {
    text-transform: capitalize;
}

form input {
    padding: 3px;
    margin-left: 10px;
}

form button {
    margin: 15px 10px 0 0;
    background: #333;
    color: #fff;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

form .delete-btn {
    background: #ff0000;
}

form button:hover {
    background: #575757;
}

form .delete-btn:hover {
    background: #ff4d4d;
}